{% extends 'base.html' %}
{% load static %}
{% block static %}
<link rel='stylesheet' href={% static 'media/css/feed.css' %}/>

{% endblock static %}
{% block body %}
<div class='feed'>
<form method="GET">
  {% csrf_token %}
  <div class='search'>
    <div class="searchbar">
      <i class="fa-solid fa-magnifying-glass"></i>
      <input type="text" placeholder="Search.." class="search" name='q'>
  </div>
<button type="submit">Submit</button>
  </div>
</form>
{% if user.is_authenticated %}
<form method="POST"  enctype="multipart/form-data" action="{% url 'feed-page'%}">
{% csrf_token %}
<div class="caption">
  <div class="caption_body">
<input type="text" placeholder="Chapter name" name='caption'/>
<input type="hidden" name="review_status"  value='a'/>

File<input type="file" name='file'/>

<select name="faculty" >
    <option value="BEI">BEI</option>
    <option value="BCT">BCT</option>
    <option value="BCE">BCE</option>
  </select>
<select name="sem" >
    <option value="I/I">I/I</option>
    <option value="I/II">I/II</option>
    <option value="II/I">II/I</option>
    <option value="II/II">II/II</option>
  </select>
  <input type="text" placeholder="Subject" name="sub"/>
  </div>
<button type="submit">Submit</button>
</div>

</form> 
{% endif %}
{% for review in posts %}
<div class="caption_body">
<h2>Chapter Name-{{review.caption}}</h2>
<h3>User -{{review.user}}</h3>
<h3>Subject -{{review.sub}}</h3>
</div>
{% comment %} <object data=" {% static '/media/Practical-Report-Cover_ArHFlRq.pdf' %}" width="800px" height="800px" >asdsad</object> {% endcomment %}
 <object data="../..{{review.file.url}}  " width="800px" height="800px" class="pdf" ></object> 
 <form method="POST" action="{% url 'review-page'%}" >
    {% csrf_token %}
{% if user.is_authenticated %}
<h4>Write a review</h4>
<input type="text" name="review"/>
<input type="hidden" name="review_status"  value={{review.id}}/>
<select name="rate" >
  <option value=1>1</option>
  <option value=2>2</option>
  <option value=3>3</option>
  <option value=4>4</option>
  <option value=5>5</option>
</select>
<button type="submit">Submit</button>
</form>
{% endif %}
{% endfor %}
</div>   

{% endblock body %}


