{% extends 'base.html' %}
{% load static %}
{% block static %}
<link rel='stylesheet' href={% static 'media/css/feed.css' %}/>

{% endblock static %}
{% block body %}
<div class='feed'>
<form method="GET">
  {% csrf_token %}
  <div class='search'>
    <div class="searchbar">
      <i class="fa-solid fa-magnifying-glass"></i>
      <input type="text" placeholder="Search.." class="search" name='q'>
  </div>
<button type="submit">Submit</button>
  </div>
</form>
{% if user.is_authenticated %}
<form method="POST"  enctype="multipart/form-data" action="{% url 'feed-page'%}">
{% csrf_token %}
<div class="caption">
  <div class="caption_body">
<input type="text" placeholder="Chapter name" name='caption'/>
<input type="hidden" name="review_status"  value='a'/>

File<input type="file" name='file'/>

<select name="faculty" >
    <option value="BEI">BEI</option>
    <option value="BCT">BCT</option>
    <option value="BCE">BCE</option>
  </select>
<select name="sem" >
    <option value="I/I">I/I</option>
    <option value="I/II">I/II</option>
    <option value="II/I">II/I</option>
    <option value="II/II">II/II</option>
  </select>
  <input type="text" placeholder="Subject" name="sub"/>
  </div>
<button type="submit">Submit</button>
</div>

</form> 
{% endif %}
{% for post in posts %}
<div class="caption_body">
<h2>Chapter Name-{{post.caption}}</h2>
<h3>Published by-{{post.user}}</h3>
<h3>Subject-{{post.sub}}</h3>
<h3>Semester-{{post.sem}}</h3>
<h3>Faculty-{{post.faculty}}</h3>
</div>
<div class="object">
{% comment %} <object data=" {% static '/media/Practical-Report-Cover_ArHFlRq.pdf' %}" width="800px" height="800px" >asdsad</object> {% endcomment %}
 <object data="../..{{post.file.url}}  " width="800px" height="800px" class="pdf" ></object> 
 <h2>Reviews</h2>
 {% for review in reviews  %}
 {% if review.post.id == post.id %}
 <div class='review'>
  
   <h3>{{review.comment}}</h3>
   <div class='stars'>
   {% if review.rate == 1 %}
   <div class='star'>
 <i class="fas fa-star"></i> 
   </div>
 {% endif %}
 
   {% if review.rate == 2 %}
   <div class='star'>

 <i class="fas fa-star"></i> 
 <i class="fas fa-star"></i> 
</div>

 {% endif %}
   {% if review.rate == 3 %}
   <div class='star'>

 <i class="fas fa-star"></i> 
 <i class="fas fa-star"></i> 
 <i class="fas fa-star"></i> 
</div>

 {% endif %}
   {% if review.rate == 4 %}
   <div class='star'>

 <i class="fas fa-star"></i> 
 <i class="fas fa-star"></i> 
 <i class="fas fa-star"></i> 
 <i class="fas fa-star"></i> 
</div>

 {% endif %}
   {% if review.rate == 5 %}
   <div class='star'>

 <i class="fas fa-star"></i> 
 <i class="fas fa-star"></i> 
 <i class="fas fa-star"></i> 
 <i class="fas fa-star"></i> 
 <i class="fas fa-star"></i> 
</div>

{% endif %}
</div>
  <h3>{{review.user}}</h3>
</div>

  {% endif %}
  {% endfor %}
 <form method="POST" action="{% url 'review-page'%}" >
    {% csrf_token %}
{% if user.is_authenticated %}
<div class="review_body">
<h3>Write a Review</h3>
<input type="text" name="review"/>
<input type="hidden" name="review_status"  value={{post.id}}/>
<select name="rate" >
  <option value=1>1</option>
  <option value=2>2</option>
  <option value=3>3</option>
  <option value=4>4</option>
  <option value=5>5</option>
</select>
<button type="submit">Submit</button>
</div>
</form>
{% endif %}
</div>

{% endfor %}
</div>   

{% endblock body %}


