{% extends 'base.html' %}
{% block  body %}

<div class="home">
    <h2 id="head">Learn And Share Knowledge </h2>

  <form class="search_form" method="GET" action={% url 'feed-page' %}>
    {% csrf_token %}
    <div class="search_body">
    <div class="searchbar">
        <i class="fa-solid fa-magnifying-glass"></i>
        <input type="text" placeholder="Search.." class="search" name='q'>
    </div>
    <div class="dropdown">
        <select class="drop" placeholder="Faculty"> 
            <option  class="input_search">Faculty</option>
            <option value="search"class="input_search">BEI</option>
            <option value="search"class="input_search">BCT</option>
            <option value="search"class="input_search">BCE</option>
            <option value="search"class="input_search">CSIT</option>
        </select>
    </div>
</div>
    <button type='submit' class="search_btn">
      Search
    </button>
  </form>
</div>
{% endblock body %}


